<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div class="container mt-4">
<body class="text-center"><div id="adr_distai"></div>
<form class="form-signin" th:action="@{/logar}" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="username" class="sr-only">Username</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<a href="/registrar">Registrar</a>

</body>
</div>
</html>
