<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Portifolio')}"></head>
<body>
    <header th:replace="~{fragmentos :: header(Portifolio)}"></header>
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Preco Medio</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="posicao : ${posicoesList}">
                        <td class="col-4" th:text="${posicao.ticker}">TICKER</td>
                        <td class="col-2" th:text="${posicao.precoMedio}">PRECO MEDIO</td>
                        <td class="col-2" th:text="${posicao.quantidadeTotal}">QUANTIDADE</td>
                        <td class="col-2" th:text="${'$' + posicao.valorTotal}">TOTAL</td>
                        <td class="col-1"><a href="/acao/vender">Vender</a></td>
                        <td class="col-1"><a href="/acao/detalhes">Detalhes</a></td>
                    </tr>
                    <tr>
                        <p th:text="${'Total de Holdings: USD$' + totalHoldings}"></p>
                        <p th:text="${'Saldo em caixa: USD$' + saldo}"></p>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="/acao/comprar">Pesquisar Acao</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>